.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about-me-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
}

.about-me-desc p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.about-content-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-desc p > .highlight {
    padding: 3px;
    background-color: var(--portfolio-font-fade-color);
}
.about-me .icon-scroll:before {
  margin-left: 13px;
}