@import '../Theme/variables.scss';

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.works-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.portfolio-work {
    width: 17rem;
    height: 15rem;
    margin: 1rem;
    -webkit-transition: opacity 0.6s ease-in, box-shadow .2s ease-out;;;
    transition: opacity 0.6s ease-in, box-shadow .6s ease-out;;
    opacity: 1
}

.expand-card-wrapper {
    z-index: 1;
    -webkit-transition: box-shadow 0s ease-in;
    transition: box-shadow 0s ease-out !important;
    box-shadow: 0px 0px 0px $font-color !important;
}

.portfolio-work.portfolio-work-stable:hover {
    box-shadow: 1px 4px 10px $font-color;
    -webkit-transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
}

.portfolio-work-inner {
   position: relative;
   width: 17rem;
   height: 15rem;
   transform-style: preserve-3d;
   transform-origin: 50% 50%;
   transition: transform 0.8s;
}

.expand-card {
    transform: scale(1.8) rotateY(180deg);
}

.portfolio-work-inner-front,
.portfolio-work-inner-back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $font-color;
    color: $background-color;
    cursor: pointer;
}

.portfolio-work-inner-back {
    transform: rotateY(180deg);
    font-size: .53rem;
}

.portfolio-work-details {
    padding: 0 1rem;
    flex: 1 1 auto;
}

.portfolio-work-details div {
    padding: .25rem 0;
}

.portfolio-work-inner-back > .portfolio-work-details-title {
    padding: 1.5rem 0;
    text-align: center;
    color: $background-color;
    font-weight: 600;
    font-size: 1.1rem;
}

.details-card-footer
{
    flex: 0 1 auto;
    padding-bottom: 0.5rem;
}

.portfolio-work-title {
    padding: 2rem 0;
    text-align: center;
    color: $background-color;
    font-weight: 600;
    font-size: 1.1rem;
    flex: 1;
}

.portfolio-work-desc {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    color: $background-color;
    flex: 2 0 auto;
}

.works .icon-scroll:before {
    margin-left: 13px;
}

.opa {
    opacity: 0.5;
}

.portfolio-logo {
    flex: 1 0 auto;
}

.workprofile-logo {
    width: 2rem;
    height: 2rem;
    color: $icon-color;
}