@import '../base/variables.scss';

section.landing {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.intro-name {
    font-family: Reem Kufi, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    padding: .25em;
}

.intro-container {
    flex: 1 1 auto;
    display: flex;
    padding-bottom: 2rem;
}

.intro-tags {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
}

.intro-tags .separator {
    color: var(--portfolio-icon-color);
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-footer {
    flex: 0 1 60px;
    padding-bottom: .3rem;
}

.icon-scroll {
    width: 2em;
    height: 3em;
    box-shadow: inset 0 0 0 1px $font-color;
    border-radius: 25px;
    text-align: center;
}


.icon-scroll:before {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background: $font-color;
    margin-left: -4px;
    margin-top: 4px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}


@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(30px)
    }

}

@media (max-width: #{$phone}) {
    .intro-name {
        font-size: 2rem;
    }

    .intro-tags {
        font-size: 1.25rem;
    }

    .intro-works h1 {
        font-size: 1.25rem;
    }

    .icon-scroll {
        width: 1.5em;
        height: 2.5em;
    }
}