@import './variables.scss';

// n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px '+$font-color;

    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px '+$font-color
    }

    @return unquote($value)
}

$shadows-small: multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(40);

.stars {
    background-color: $background-color;
    position: fixed;
}

#stars1 {
    background: transparent;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
    -webkit-animation: star-anim 70s linear infinite;
    animation: star-anim 70s linear infinite;

    &:after {
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small
    }

}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-medium;
    -webkit-animation: star-anim 120s linear infinite;
    animation: star-anim 120s linear infinite;

    &:after {
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
    -webkit-animation: star-anim 160s linear infinite;
    animation: star-anim 160s linear infinite;
    background: transparent;
    border-radius: 50%;

    &:after {
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }

}

@-webkit-keyframes star-anim {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
        -webkit-transform: translateY(-2000px);
    }
}

@keyframes star-anim {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
        -webkit-transform: translateY(-2000px);
    }
}