@import '../base/variables.scss';

.skills {
    justify-content: center;
    align-items: center;
}

.skills-container {
    padding-top: 2rem;
}

.skills-section-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-section {
    display: flex;
    padding: 1rem .25rem .25rem 3rem;
    min-width: 33.3333%;
    justify-content: flex-start;
}

.skill-section-icon {
    padding-right: 1em;
}

.skill-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: $icon-color;
}

.skills-list-header {
    padding-bottom: .5rem;
}

.skills-list-body > div {
    padding-bottom: .25rem;
}


@media (max-width: #{$phone}) {
    .skill-section {
        width: 50%;
        padding: 1rem .25rem;
    }

    .skills-list-header {
        font-size: 1rem;
        font-weight: 700;
    }
    
}

@media (max-width: 800px) {
    .skill-section {
        padding: 1rem .25rem;
    }

}