@import './scss/base/variables.scss';

body, html {
  height: 100%;
}

.section {
  color: $font-color;
  min-height: 100vh;
}

h1.title {
  font-weight: 800;
  font-size: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $font-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: #{$phone}) {
  h1.title {
    font-weight: 700;
    font-size: 2rem;
  }
}
