@import "../base/variables.scss";

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about-me-desc-wrapper {
    display: flex;
    align-items: center;
}

.about-me-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    width: 60%;
}

.about-me-desc p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.about-me-anim {
    width: 40%
}

.about-content-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-desc p>.highlight {
    padding: 3px;
    background-color: var(--portfolio-font-fade-color);
}

.about-me .icon-scroll:before {
    margin-left: 13px;
}


@media (max-width: #{$phone}) {
    .about-me-desc-wrapper {
        flex-direction: column-reverse;
    }

    .about-me-desc {
        font-size: 1rem;
    }

    .about-me-desc,
    .about-me-anim {
        width: 95%
    }

}